<!--新增子分类 Modal -->
<div class="modal fade" id="subcatmodal" tabindex="-1" role="dialog"
    aria-hidden="true" ng-controller="PorductModalCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <i class="titlefont glyphicon glyphicon-plus pull-left marginmodal"></i>
                <h4 class="titlefont modal-title">添加子分类</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" ng-class="showerror?'showerror':''" name="AddSubCategoryForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">上级分类</label>
                        <div class="col-sm-6">
                            <label class="control-label">{{ParentCategoryName}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">分类名称</label>
                        <div class="col-sm-6">
                            <input class="form-control" ng-required="true" ng-model="SubCategory.Name" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否启用</label>
                        <label class="radio-inline col-sm-3">
                            <input type="radio" class="col-sm-5" ng-model="SubCategory.Status" name="status" value="1">启用
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="MainCategory.Status" name="status" value="2">禁用
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="RefreshModal()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="AddSubCategory(SubCategory)">
                    保 存</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


