<!--删除Modal -->
<div class="modal fade" id="detagsmodal" tabindex="-1" role="dialog"
    aria-hidden="true" ng-controller="ProductTagsModalCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class=" modal-title">删除标签</h4>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" ng-click="DeleteTag(DeTag)">
                    确 认</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<

