
                    <!-- START ALERTS AND CALLOUTS -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Chat box -->
                            <div class="box box-success">
                <div class="box-header">
                                    <div class="pull-left">
                                        <h3 class="box-title"><i class="fa fa-comments-o"></i>您和 小伙伴们 的聊天记录</h3>
                                    </div>
                                    <div class="box-tools pull-right" data-toggle="tooltip" title="Status">

                                        <div class="btn-group" data-toggle="btn-toggle" >
                                            <a ng-href="#/customerservice/chat/{{chat_customerid}}" class="btn btn-default btn-sm">聊天</a>                                            
                                            <a href="javascript:void(0)" class="btn btn-default btn-sm active">聊天记录</a>
                                        </div>
                                        <a href="#/customerservice/list" class="btn btn-default btn-sm">
                                            <i class="fa fa-reply"></i>
                                            返回列表</a>
                                    </div>
                    <div class="box-tools pull-right" style="width:200px;">
                        <div class="input-group">
                            <input type="text" ng-model="chathistorysearchkey"
                                placeholder="模糊查询(聊天内容)" class="form-control input-sm"
                                name="table_search">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm"
                                    ng-click="searchHistory()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="box-tools pull-right" style="width:220px;">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" id="reservation"
                                        ng-model="chathistorydaterange" class="form-control input-sm">
                                </div>
                    </div>


                </div>
                                <div>
                                   <div class="box-body chat" id="service-chat-box">
                                    <!-- chat item -->
                                    <div class="item" ng-repeat="chatitem in msglist">
                                        <img ng-src="{{chatitem.form_userid==0?'img/user.jpg':'img/avatar.png'}}" alt="user image" ng-class="chatitem.form_userid==0?'online':'offline'"/>
                                        <p class="message">
                                            <a href="#" class="name">
                                                <span>{{chatitem.form_userid==0?'客服':chat_customer.customer_nickname}}</span>
                                                <small class="text-muted"><i class="fa fa-clock-o"></i> <span>{{chatitem.create_time}}</span></small>
                                            </a>
                                        </p>
                                        <div class="attachment">
                                            <p ng-class="chatitem.form_userid==0?'text-blue':''">
                                                  {{chatitem.content}}
                                            </p>
                                        </div><!-- /.attachment -->
                                    </div><!-- /.item --> 
                                    </div><!-- /.chat -->
                                </div>
 
                                <div class="box-footer" style="height:60px;">
                                    <ul class="pagination pagination-sm no-margin pull-right">
                                        <li ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}">«</a></li>
                                        <li ng-class="{{page.active}}?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
                                        <li ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}">»</a></li>
                                    </ul>
                                </div>
                            </div><!-- /.box (chat box) -->
                        </div><!-- /.col -->
                    </div> <!-- /.row -->
                    <!-- END ALERTS AND CALLOUTS -->
