<!-- Content Header (Page header) -->
<div class="content-header">
    <h1>
        编辑幻灯片
    </h1>
</div>
<!-- Main content -->
<div class="content">
    <form class="form-horizontal" role="form" ng-class="showerror?'showerror':''" name="UpdateSlideShowForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                幻灯片标题：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="Picture.pic_title" ng-required="true">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                幻灯片图片：
            </label>
            <div class="col-sm-4">
                <button class="btn btn-success btn-flat" id="file_upload">上传</button>(推荐幻灯片尺寸为：600px ×400px)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                缩略图：
            </label>
            <div class="col-sm-4">
                <img id="imagezone" src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" alt="图片加载失败" class="img-thumbnail" style="width: 200px; height: 200px" />
            </div>
        </div>
       
        <div class="form-group">
            <label class="col-sm-3 control-label">
                已绑定跳转合辑名称：
            </label>
            <div class="content col-sm-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>专辑封面</th>
                            <th>合辑名称</th>
                        </tr>
                        <tr>
                            <td>
                                <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40" width="50" />
                            </td>
                            <td>{{Alubm.album_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                跳转地址：
            </label>
            <div class="col-sm-4">
                <div class="input-group ">
                    <input type="text" ng-model="ProductKey" placeholder="合辑名称" class="form-control input-sm ng-pristine ng-valid" name="table_search">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-flat btn-sm" ng-click="FuzzySearchAlbum(ProductKey)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="ProdcutAlbums.length>0?'true':'false'">
            <div class="content col-sm-6 col-sm-offset-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>专辑封面</th>
                            <th>合辑名称</th>
                            <th>选中绑定跳转合辑</th>
                        </tr>
                        <tr ng-repeat="ProdcutAlbum in ProdcutAlbums">
                            <td>
                                <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40" width="50" />
                            </td>
                            <td>{{ProdcutAlbum.album_name}}</td>
                            <td>
                                <input type="radio" name="optionsRadios" id="{{ProdcutAlbum.album_id}}" ng-click="BindAlbum(ProdcutAlbum)" value="{{ProdcutAlbum.album_id}}">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-9">
                <button type="submit" class="btn btn-primary btn-flat" ng-click="UpdateSlideShow(Picture)">保存</button>
                <button type="submit" class="col-sm-offset-2 btn btn-default btn-flat" ng-click="CancelSlideShow()">取消</button>
            </div>
        </div>
    </form>
</div>
<!-- /.content -->
