<!-- Content Header (Page header) -->
<div class="content-header">
    <h1>
        新增商品合辑
    </h1>

</div>
<!-- Main content -->
<div class="content">
    <form class="form-horizontal" role="form" ng-class="showerror?'showerror':''" name="AddAlbumForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">
                合辑名称：
            </label>
            <div class="col-sm-4">
                <input type="text" class="form-control" ng-model="Album.album_name" ng-required="true" placeholder="合辑名称">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                合辑封面：
            </label>
            <div class="col-sm-4">
                <button class="btn btn-success btn-flat" id="file_upload">上传</button>(推荐幻灯片尺寸为：800px ×800px)
                <br />
                <br />
                <img id="imagezone" src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" alt="图片加载失败" class="img-thumbnail" style="width: 200px; height: 200px" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                合辑描述：
            </label>
            <div class="col-sm-8">
                <script type="text/plain" id="myEditor" style="width: 700px; height: 240px;">
                </script>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                标签：
            </label>
            <div class="col-sm-4">
                <select class="form-control" ng-options="ProductTag.tag_name for ProductTag in  ProductTags" ng-model="tagitem" ng-required="true"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">
                合辑商品：
            </label>
            <div class="col-sm-4">
                <div class="input-group ">
                    <input type="text" ng-model="ProductKey" placeholder="商品名称或货号" class="form-control input-sm ng-pristine ng-valid" name="table_search">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-flat btn-sm" ng-click="FuzzySearchPrduct(ProductKey)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="Products.length>0 ?'true':'false'">
            <div class="content col-sm-6 col-sm-offset-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr ng-repeat="Product in Products">
                            <td>{{Product.product_num}}</td>
                            <td>
                                <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40" width="50" />
                            </td>
                            <td>{{Product.product_name}}</td>
                            <td>
                                <!--<input type="checkbox" name="optionsRadios" id="{{Product.productid}}" ng-click="toggle(Product)" value="{{Product.productid}}">-->
                                <a ng-click="BindProduct(Product)">添加进入合辑</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group" ng-show="ChooseProducts.length>0 ?'true':'false'">
            <div class="content col-sm-6 col-sm-offset-3">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>商品货号(序号)</th>
                            <th>缩略图</th>
                            <th>商品名称</th>
                            <th>操作</th>
                        </tr>
                        <tr ng-repeat="ChooseProduct in ChooseProducts">
                            <td>{{ChooseProduct.product_num}}</td>
                            <td>
                                <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40" width="50" />
                            </td>
                            <td>{{ChooseProduct.product_name}}</td>
                            <td><a ng-click="UnBindProduct(ChooseProduct)">删除</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-9">
                <button type="submit" class=" btn btn-primary btn-flat" ng-click="AddAlbum(Album)">保存</button>
                <button type="submit" class="col-sm-offset-2 btn btn-default btn-flat" ng-click="CancelAlbum()">取消</button>
            </div>
        </div>
    </form>
</div>
<!-- /.content -->
