<!-- Content Header (Page header) -->

	<div class="pad margin no-print">
		<div style="margin-bottom: 0 !important;" class="alert alert-info">
			<i class="fa fa-info"></i>
			<b>提醒:</b>
		<a href="#/customerservice/list">你有新消息</a> 
		</div>
	</div>
<!-- Main content -->
<div class="content invoice">
	<!-- Main row -->
	<div class="row">
<div class="col-xs-offset-2 col-xs-8">
                            <p class="lead">订单统计</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody><tr>
                                        <th style="width:50%">订单总数:</th>
                                        <td>789</td>
                                    </tr>
                                    <tr>
                                        <th>交易总额:</th>
                                        <td>￥45795.50</td>
                                    </tr>
                                    <tr>
                                        <th>未付款订单数:</th>
                                        <td>80</td>
                                    </tr>
                                    <tr>
                                        <th>本日新增订单:</th>
                                        <td>265</td>
                                    </tr>
                                </tbody></table>
                            </div>
                        </div>
	</div>
	<!-- /.row -->
</div>
