
<!-- Content Header (Page header) -->
<div class="content-header">
	<h1>订单详情</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#order/">
				<i class="fa fa-dashboard"></i>
				订单列表
			</a>
		</li>

	</ol>
</div>

<!-- Main content -->
<div class="content invoice">

	<!-- info row -->
	<div class="row">
		<div class="col-xs-12">
			<p class="lead">基本信息</p>
			<div class="table-responsive col-xs-6">
				<table class="table">
					<tbody>
						<tr>
							<th>订单号:</th>
							<td>{{order_no}}</td>
						</tr>
						<tr>
							<th>购买账号:</th>
							<td>{{order.user_account}}</td>
						</tr>
						<tr>
							<th>订单状态:</th>
							<td>{{ChangeOrderStatusIDtoName(order_status)}}</td>
						</tr>

						<tr>
							<th>当前物流状态:</th>
							<td>{{ChangeLogisticsStatusIDtoName(logistics_status)}}</td>
						</tr>

					</tbody>
				</table>
			</div>
			<div class="table-responsive col-xs-6">
				<table class="table">
					<tbody>
						<tr>
							<th>下单时间:</th>
							<td>{{order_time}}</td>
						</tr>
						<tr>
							<th>支付方式:</th>
							<td>{{ChangePaymentIdToName(order.order_payment)}}</td>
						</tr>
						<tr>
							<th>第三方支付账号:</th>
							<td>{{order.order_pay_account}}</td>
						</tr>

						<tr>
							<th>付款时间:</th>
							<td>{{order.pay_time}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- /.col -->

	</div>
	<!-- /.row -->
	<div class="row">
		<div class="col-xs-12">
			<p class="lead">收货人地址</p>
			<div class="table-responsive col-xs-6">
				<table class="table">
					<tbody>
						<tr>
							<th>姓名:</th>
							<td>{{order.order_receive_name}}</td>
						</tr>
						<tr>
							<th>地址:</th>
							<td>{{order.order_receive_address}}</td>
						</tr>
						<tr>
							<th>手机:</th>
							<td>{{order.order_receive_mobile}}</td>
						</tr>



					</tbody>
				</table>
			</div>
			<div class="table-responsive col-xs-6">
				<table class="table">
					<tbody>
						<tr>
							<th>邮编:</th>
							<td>{{order.order_receive_postcode}}</td>
						</tr>
						<tr>
							<th>固定电话:</th>
							<td>{{order.order_receive_phone}}</td>
						</tr>
						<tr>
							<th></th>
							<td></td>
						</tr>


					</tbody>
				</table>
			</div>
		</div>
		<!-- /.col -->

	</div>
	<!-- /.row -->
	<!-- Table row -->
	<div class="row">
		<div class="col-xs-12 table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>货号</th>
						<th>商品图片</th>
						<th>商品名称</th>
						<th>价格</th>
						<th>数量</th>
						<th>合计</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in orderItems">
						<td>{{item.product_num}}</td>
						<td><img width="50px" height="40px" src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg"></td>
						<td>{{item.product_name}}</td>
						<td>
							<i class="fa fa-fw fa-cny"></i>
							{{item.prodcut_price}}元
						</td>
						<td>{{item.buynumber}}
						<td>
						<td>
							<i class="fa fa-fw fa-cny"></i>
							{{item.prodcut_price*item.buynumber}}元
						<td>
					</tr>
					
				</tbody>
			</table>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

	<div class="row">
		<!-- accepted payments column -->
		<div class="col-xs-6">
			<p class="lead">客户留言</p>
			<p style="margin-top: 10px;"
				class="text-muted well well-sm no-shadow">
				{{order.remark}}</p>
		</div>
		<!-- /.col -->
		<div class="col-xs-6">
			<p class="lead">费用信息</p>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<th style="width: 50%">订单金额:</th>
							<td>
								<i class="fa fa-fw fa-cny"></i>
								{{order.order_totalprice-order.order_freight}}元
							</td>
						</tr>
						<tr>
							<th>邮费</th>
							<td>
								<i class="fa fa-fw fa-cny"></i>
								{{order.order_freight}}元
							</td>
						</tr>
						<tr>
							<th>合计:</th>
							<td>
								<i class="fa fa-fw fa-cny"></i>
								{{order.order_totalprice}}元
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-xs-12">
			<p class="lead">操作</p>
			<div class="table-responsive">
				<table class="table">
					<tbody>
						<tr>
							<th class="col-xs-2">当前物流状态:</th>
							<td class="col-xs-8">
								<button id="LogisticsStatus1" ng-click="updateLogisticsStatus(1)" class="btn btn-info btn-flat" style="margin-left: 10px;">未发货</button>
								<button id="LogisticsStatus2" ng-click="updateLogisticsStatus(2)" class="btn btn-success disabled"
									style="margin-left: 10px;">国外代购中</button>

								<button id="LogisticsStatus3" ng-click="updateLogisticsStatus(3)" class="btn btn-info btn-flat" style="margin-left: 10px;">国外物流运转中</button>
								<button id="LogisticsStatus4" ng-click="updateLogisticsStatus(4)" class="btn btn-info btn-flat" style="margin-left: 10px;">已到达国内</button>
								<button id="LogisticsStatus5" ng-click="updateLogisticsStatus(5)" class="btn btn-info btn-flat" style="margin-left: 10px;">国内物流运转中</button>
								<button id="LogisticsStatus6" ng-click="updateLogisticsStatus(6)" class="btn btn-info btn-flat" style="margin-left: 10px;">已签收</button>
							</td>
						</tr>
						<tr>
							<th class="col-xs-2">订单状态操作:</th>
							<td class="col-xs-8">
								<button id="OrderStatus1" ng-click="updateOrderStatus(1)" class="btn btn-info btn-flat" style="margin-left: 10px;">未付款</button>
								<button id="OrderStatus2" ng-click="updateOrderStatus(2)" class="btn btn-info btn-flat" style="margin-left: 10px;">已付款</button>
								<button id="OrderStatus3" ng-click="updateOrderStatus(3)" class="btn btn-info btn-flat" style="margin-left: 10px;">缺货，已退货</button>
								<button id="OrderStatus4" ng-click="updateOrderStatus(4)" class="btn btn-info btn-flat" style="margin-left: 10px;">交易结束</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<!-- /.col -->

	</div>
	<!-- /.row -->
</div>
<!-- /.content -->

