<!-- Content Header (Page header) -->
<div class="content-header">
	<h1>商品订单列表</h1>
</div>

<!-- Main content -->
<div class="content">
	<div class="row margin_bottom">
		<div class="col-xs-12">
			<div
				class="margin_top btn-group btn-group-sm col-sm-2 padding_rightnull">
				<button type="button"
					class="btn btn-sm btn-default btn-flat dropdown-toggle"
					data-toggle="dropdown">
					{{order_status}}
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="status in orderstatus">
						<a ng-click="ChooseOrderStatus(status)">{{status.name}}</a>
					</li>

				</ul>
			</div>
			<div class=" margin_top col-sm-7 padding_leftnull ">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="lable-top col-md-2 padding_null ">订单时间:</label>
						<div class="input-group  col-md-5">
							<div class="input-group-addon">
								<i class="fa fa-calendar"></i>
							</div>
							<input type="text" id="reservation"
								ng-model="orderlistinfo.daterange" class="form-control ">
							<span class="input-group-addon" ng-click="cleantime()">
								<i class="fa fa-times-circle" ng-click="cleantime()"></i>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="margin_top col-sm-3">
				<div class="input-group pull-left">
					<input type="text" ng-model="orderlistinfo.skey"
						placeholder="订单号，购买账号" class="form-control " name="table_search">
					<div class="input-group-btn">
						<button class="btn btn-default btn-flat"
							ng-click="SearchOrderList($routeParams.pageIndex || 1)">
							<i class="fa fa-search"></i>
						</button>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th>序号</th>
						<th>订单号</th>
						<th>下单时间</th>
						<th>购买账号</th>
						<th>订单金额</th>
						<th>邮费</th>
						<th>订单状态</th>
						<th>操作</th>
					</tr>
					<tr ng-repeat="order in orderList">
						<td>{{$index+1}}</td>
						<td>{{order.order_no}}</td>
						<td>{{order.order_time}}</td>
						<td>{{order.user_account}}</td>
						<td>{{order.order_totalprice}}</td>
						<td>{{order.order_freight}}</td>
						<td>{{ChangeOrderStatusIDtoName(order.order_status)}}</td>
						<td>
							<a href="#oitem/{{order.order_no}}/{{order.order_time}}">查看</a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="col-lg-12">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li ng-repeat="page in pages | filter:'pre'">
							<a ng-href="{{page.url}}">«</a>
						</li>
						<li ng-class="{{page.active}}?'active':''"
							ng-repeat="page in pages | filter:'page'">
							<a ng-href="{{page.url}}">{{page.index}}</a>
						</li>
						<li ng-repeat="page in pages | filter:'next'">
							<a ng-href="{{page.url}}">»</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>

</div>
<!-- /.content -->

