<div class="content-header">
    <h1>规格参数设置</h1>
</div>

<!-- Main content -->
<div class="content">
    <ul class="nav nav-tabs margin_bottom">
        <li ng-class="sort=='size'?'active':''"><a ng-href="#/standard/size/">尺寸</a></li>
        <li ng-class="sort=='color'?'active':''"><a ng-href="#/standard/color/">颜色</a></li>
        <li ng-show="sort=='size'?true:false" class="pull-right"><a href="#" class="text-muted"><i class="fa fa-fw fa-plus"></i>添加参数</a></li>
    </ul>

    <div class="row margin_bottom" ng-show="sort=='size'?true:false">
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>分类</th>
                        <th>对应参数</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="Prodcut in Prodcuts">
                        <td>{{Prodcut.category_name}}</td>
                        <td>{{Prodcut.product_status==1?'上架':'下架'}}</td>
                        <td><a ng-click="edit()">编辑</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row margin_bottom" ng-show="sort=='color'?true:false">
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>对应参数</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="Album in Albums">
                        <td>{{Album.album_status==1?'显示':'禁用'}}</td>
                        <td><a ng-click="edit()">编辑</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-right: 0">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}">«</a></li>
            <li ng-class="{{page.active}}?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
            <li ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}">»</a></li>
        </ul>
    </div>
</div>

