<div class="content-header">
    <h1>规格参数设置</h1>
</div>

<!-- Main content -->
<div class="content">
    <ul class="nav nav-tabs margin_bottom">
        <li ng-class="sort=='size'?'active':''"><a ng-href="#/standard/size/">尺寸</a></li>
        <li ng-class="sort=='color'?'active':''"><a ng-href="#/standard/color">颜色</a></li>
        <li ng-show="sort=='size'?true:false" class="pull-right"><a ng-click="AddSizeStandardModal()" class="text-muted"><i class="fa fa-fw fa-plus"></i>添加参数</a></li>
        <li ng-show="sort=='color'?true:false" class="pull-right"><a ng-click="AddColorStandardModal()" class="text-muted"><i class="fa fa-fw fa-plus"></i>添加参数</a></li>
    </ul>

    <div class="row margin_bottom" ng-show="sort=='size'?true:false">
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>分类</th>
                        <th>可用参数</th>
                        <th>禁用参数</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="SizeCategory in SizeCategorys">
                        <td>{{SizeCategory.cat_name}}</td>
                        <td>{{SizeCategory.IsableParamters}}</td>
                        <td>{{SizeCategory.DisableParamters}}</td>
                        <td><a ng-click="EditStandardParamterModal(SizeCategory)">编辑</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row margin_bottom" ng-show="sort=='color'?true:false">
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>可用参数</th>
                        <th>禁用参数</th>
                        <th>操作</th>
                    </tr>
                    <tr>
                        <td>{{IsableColorParamtersFormat}}</td>
                        <td>{{DisableColorParamtersFormat}}</td>
                        <td><a ng-click="EditStandardParamterModal(Parameters)">编辑</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-right: 0" ng-show="sort=='color'?false:true">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}">«</a></li>
            <li ng-class="{{page.active}}?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
            <li ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}">»</a></li>
        </ul>
    </div>
</div>
<div ng-include="'partials/standard/add-sizestandard-modal.html'"></div>
<div ng-include="'partials/standard/add-colorstandard-modal.html'"></div>
<div ng-include="'partials/standard/edit-standardparmeter-modal.html'"></div>

