<!-- Content Header (Page header) 商品管理-->
<div class="content-header">
    <h1>商品管理</h1>
</div>
<!-- Main content -->
<div class="content">
    <ul class="nav nav-tabs">
        <li ng-class="sort=='product'?'active':''"><a ng-href="#/product/product/">商品列表</a></li>
        <li ng-class="sort=='album'?'active':''"><a ng-href="#/product/album/">商品合辑</a></li>
     </ul>
    <!--商品列表start-->
    <div class="row margin_bottom" ng-show="sort=='product'?true:false">
        <div class="col-xs-12 margin_bottom">
            <div class=" margin_top col-sm-2 padding_leftnull ">
                <!-- <a href="#/addproduct" class="control-label col-md-8"><i class="fa fa-fw fa-plus"></i>添加商品</a> -->
                <button class="btn btn-sm btn-primary btn-flat " ng-click="AddProduct()">添加商品</button>
            </div>
            <div class="margin_top col-sm-7">
                <div class="col-sm-3 padding_leftnull">
                    <button type="button" class="btn btn-sm btn-default btn-flat dropdown-toggle"
                        data-toggle="dropdown">
                        {{Choose_MainCategory==null?'一级类别':Choose_MainCategory.cat_name}}
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="MainCategory in MainCategorys">
                            <a ng-click="ChooseMainCategory(MainCategory)">{{MainCategory.cat_name}}</a>
                        </li>

                    </ul>
                </div>
                <div class="col-sm-3" ng-show="secondshow">
                    <button type="button" class="btn btn-sm btn-default btn-flat dropdown-toggle"
                        data-toggle="dropdown">
                        {{Choose_SubCategory==null?'二级类别':Choose_SubCategory.cat_name}} 
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="SubCategory in SubCategorys">
                            <a ng-click="ChooseSubCategory(SubCategory)">{{SubCategory.cat_name}}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="margin_top col-sm-3">
                <div class="input-group pull-left">
                    <input type="text" ng-model="ProductKey"
                        placeholder="货号/商品名称" class="form-control input-sm"
                        name="table_search">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-flat btn-sm" ng-click="SearchProductList()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>商品货号</th>
                        <th>商品名称</th>
                        <th>缩略图</th>
                        <th>添加时间</th>
                        <th>分类</th>
                        <th>上架</th>
                        <th>商品操作</th>
                    </tr>
                    <tr ng-repeat="Prodcut in Prodcuts">
                        <td>{{Prodcut.product_num}}</td>
                        <td>{{Prodcut.product_name}}</td>
                        <td>
                            <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40px" width="50px" /></td>
                        <td>{{Prodcut.create_time}}</td>
                        <td>{{Prodcut.category_name}}</td>
                        <td>{{Prodcut.product_status==1?'上架':'下架'}}</td>
                        <td><a ng-href="#/editproduct/{{Prodcut.productid}}">编辑</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <!--商品列表end-->

    <!--商品合辑start-->
    <div class="row margin_bottom" ng-show="sort=='album'?true:false">
        <div class="col-xs-12 margin_bottom">
            <div class=" margin_top col-sm-8">
                <div class="input-group  col-md-6">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" id="albumtime" class="form-control ">
                </div>
            </div>
            <div class="margin_top col-sm-4">
                <div class="input-group pull-left">
                    <input type="text" ng-model="AlbumKey"
                        placeholder="合辑名称" class="form-control "
                        name="table_search">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-flat"
                            ng-click="SearchAlbumList()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>合辑名称</th>
                        <th>缩略图</th>
                        <th>添加时间</th>
                        <th>显示</th>
                        <th>合辑操作</th>
                    </tr>
                    <tr ng-repeat="Album in Albums">
                        <td>{{Album.album_name}}</td>
                        <td>
                            <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40px" width="50px" /></td>
                        <td>{{Album.create_time}}</td>
                        <td>{{Album.album_status==1?'显示':'禁用'}}</td>
                        <td><a ng-click="edit()">编辑</a></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!--商品合辑end-->
    <div class="row" style="margin-right:0">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}">«</a></li>
            <li ng-class="{{page.active}}?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
            <li ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}">»</a></li>
        </ul>
    </div>
</div>
<div ng-include="'partials/product/add-maincategory-modal.html'"></div>
<div ng-include="'partials/product/add-subcategory-modal.html'"></div>
<div ng-include="'partials/product/edit-category-modal.html'"></div>
<!-- /.content -->
