<!-- Content Header (Page header) 幻灯片-->
<div class="content-header">
    <h1>推荐位管理</h1>
</div>
<!-- Main content -->
<div class="content">
    <div class="row margin_bottom">
        <div class="col-md-12">
          <a href="#/addslideshow" class=" btn btn-sm btn-primary btn-flat"><i class="fa fa-fw fa-plus"></i>添加幻灯片</a>
        </div>
    </div>
    <div class="row margin_bottom ">
        <div class="col-xs-12 margin_bottom">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th >幻灯片标题</th>
                        <th>缩略图</th>
                        <th>添加时间</th>
                        <th>置顶</th>
                        <th>编辑</th>
                    </tr>
                    <tr ng-repeat="SlideShow in SlideShows">
                        <td>{{SlideShow.pic_title}}</td>
                        <td>
                            <img src="http://f.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c810d3b0274be3eb13533fa4019.jpg" height="40px" width="50px" /></td>
                        <td>{{SlideShow.create_time}}</td>
                        <td>{{SlideShow.istop==1?'已置顶':'未置顶'}}</td>
                        <td><a ng-href="#/editslideshow/{{SlideShow.picid}}">编辑</a>|<a ng-click="DeleteSlideShow(SlideShow.picid)">删除</a>|<a ng-click="IsTop(SlideShow)">{{SlideShow.istop==1?'取消置顶':'置顶'}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <div class="row" style="margin-right: 0">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li ng-repeat="page in pages | filter:'pre'"><a ng-href="{{page.url}}">«</a></li>
            <li ng-class="{{page.active}}?'active':''" ng-repeat="page in pages | filter:'page'"><a ng-href="{{page.url}}">{{page.index}}</a></li>
            <li ng-repeat="page in pages | filter:'next'"><a ng-href="{{page.url}}">»</a></li>
        </ul>
    </div>

</div>

<!-- /.content -->
